@charset "utf-8";

a {
  color: skyblue;
  font-weight: bold;
}

header {
  background-color: skyblue;
}

footer {
  background-color: #e9ecef;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  font-weight: bold
}

.switch {
  background-color: skyblue;
}

.switch-2 {
  background-color: orange;
}

.profile a {
  color: black;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: skyblue;
    border-color: skyblue;
}

.page-link {
  color: skyblue;
}

.category a {
  color: black;
  font-weight: bold;
}
