@charset "utf-8";

header {
  background-color: skyblue;
}

.foot {
  background-color: #e9ecef;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  font-weight: bold
}

.switch {
  background-color: skyblue;
}

.switch-2 {
  background-color: orange;
}
