{% extends "nikki/base.html" %}
{% block content %}
<div class="container py-3">
  <table class="table">
    <tbody>
      <tr>
        <th>ニックネーム</th>
        <td>{{ user.nickname }}</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>年代</th>
        <td>{{ user.agegroup }}代</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'nikki:update_user' user.pk %}" class="btn btn-info mr-5">編集する</a>
  <a href="{% url 'nikki:delete_user' user.pk %}" class="ml-5">退会希望の方はこちら</a>

  <section class="mt-4">
    <p>今までの投稿した日記</p>
    <div class="row">
      {% for article in user.article_set.all %}
      <div class="col-4 col-md-3 col-lg-2">
        <p class="my-1"><a href="{% url 'nikki:detail_article' article.id %}" style="color:black;">{{ article.title|truncatechars_html:10 }}</a></p>
      </div>
      {% endfor %}
    </div>
  </section>

</div>
{% endblock %}
