{% extends "nikki/base.html" %}

{% block title %}アカウント情報の変更{% endblock %}

{% block content %}
<div class="container py-3">
    <form action="" method="POST">
      {{ form.non_field_errors }}
      <table class="table">
          <tbody>
              {% for field in form %}
                  <tr>
                      <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                      <td>{{ field }} {{ field.errors }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      {% csrf_token %}
      <button type="submit" class="switch btn btn-lg text-white">変更</button>
  </form>
</div>
{% endblock %}